In [1]:
d1 = {'a':1}

In [ ]:
d1 = {'a':[1,2,3,4]}

In [3]:
d1 = {'a':(1,2,3,4)}

# Assignment 1: Python Basics and Data Types

1. Variable Manipulation:
o Define variables to store a student's name, age, GPA, and list of subjects.
o Convert age from years to months and display the result.
o Concatenate and print a sentence using all the defined variables.

In [6]:
name = 'hello'

In [8]:
age = 30

In [10]:
GPA = 8.9

In [12]:
subjects = ['Maths', "English", 'Science']

In [14]:
subjects

['Maths', 'English', 'Science']

In [16]:
age

30

In [18]:
age * 12

360

In [20]:
age + GPA

38.9

2. Type Conversion Practice:
o Convert a float to an integer, and explain what happens to the decimal part.

In [22]:
GPA

8.9

In [24]:
int(GPA)

8

# Assignment 2: Data Structures - List, Tuple, Set, and Dictionary

1. Working with Lists:
o Create a list of integers and:
 Append a new number.
 Insert a number at a specific index.
 Remove duplicates and print the final list

In [27]:
num = [1,2,3,4,5]

In [29]:
num

[1, 2, 3, 4, 5]

In [31]:
num.append(10)

In [33]:
num

[1, 2, 3, 4, 5, 10]

In [37]:
num[4] = 20

In [39]:
num

[1, 2, 3, 4, 20, 10]

In [41]:
num.insert(1,100)

In [43]:
num

[1, 100, 2, 3, 4, 20, 10]

In [45]:
l1 = [1,2,3,3,4,4,5,6]

In [49]:
l1 = set(l1)

In [51]:
l1

{1, 2, 3, 4, 5, 6}

In [53]:
list(l1)

[1, 2, 3, 4, 5, 6]

2. Tuple Manipulation:
o Define a tuple of 5 colors.
o Try to add a new color to the tuple (observe and explain why it fails).
o Convert the tuple to a list, add the color, and convert it back to a tuple.

In [55]:
colors = ('Red','White','Yeallow','Green','Blue')

In [57]:
colors

('Red', 'White', 'Yeallow', 'Green', 'Blue')

In [59]:
colors.append('Red')

AttributeError: 'tuple' object has no attribute 'append'

In [61]:
colors

('Red', 'White', 'Yeallow', 'Green', 'Blue')

In [65]:
colors = list(colors)

In [67]:
colors

['Red', 'White', 'Yeallow', 'Green', 'Blue']

In [69]:
colors.append('Pink')

In [71]:
colors

['Red', 'White', 'Yeallow', 'Green', 'Blue', 'Pink']

In [75]:
colors = tuple(colors)

In [77]:
colors

('Red', 'White', 'Yeallow', 'Green', 'Blue', 'Pink')

3. Set Operations:
o Create two sets of random numbers.
o Find and print their union, intersection, and difference.
o Remove one element from the first set and add a new element.

In [85]:
s1 = {1,2,3,4}

In [87]:
s2 = {3,4,5,6}

In [89]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [91]:
s1.intersection(s2)

{3, 4}

In [93]:
s1.difference(s2)

{1, 2}

4. Dictionary Practice:
o Define a dictionary for a library system with book titles as keys and available
copies as values.
o Update the count of a specific book after it is borrowed.
o Add a new book to the dictionary and print the updated dictionary

In [95]:
d1 = {'Maths':2, 'English':3, 'Hindi':1}

In [97]:
d1['Maths']

2

In [99]:
d1['Maths'] = 1

In [101]:
d1

{'Maths': 1, 'English': 3, 'Hindi': 1}