In [1]:
# Range Function

In [2]:
range(1,10)

range(1, 10)

In [3]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [6]:
for i in range(5): # 0 start and 5 end
    print(i)

0
1
2
3
4

In [7]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [9]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [10]:
for i in range(5):
    print(i)

0
1
2
3
4

In [11]:
for i in range(5):
    print('*')

*
*
*
*
*

In [12]:
for i in range(5):
    print('.'  * i )

.
..
...
....

In [13]:
for i in range(10):
    print('.'  * i )

.
..
...
....
.....
......
.......
........
.........

In [14]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [15]:
for i in range(5,0,-1):
    print('.' *  i)

.....
....
...
..
.

In [16]:
for i in range(10,0,-1):
    print('.' *  i)

..........
.........
........
.......
......
.....
....
...
..
.

In [ ]:
2. Number Classification:
o Take a number as input and print whether it is positive, negative, or zero.

In [19]:
num = int(input())
if num > 0:
    print('Positive')
elif num < 0:
    print('Negative')
else:
    print('Zero')

 7

Positive

In [ ]:
Leap Year Checker:
o Write a program to check if a given year is a leap year. (Hint: A year is a leap
year if it is divisible by 4 but not by 100, except when it’s also divisible by 400.)

In [54]:
year = int(input())
if year % 4 == 0 and year % 100 != 0:
    print('Leap year')
elif year % 400 == 0:
    print('Leap ')
else:
    print('Not leap year')

 2025

Not leap year

In [56]:
num1 = int(input())
num2 = int(input())
num3 = int(input())

if num1 > num2 and num1>num3:
    print('Number1 is maximum', num1)
elif num2 > num1 and num2 > num3:
    print('Number 2 is greater', num2)
else:
    print('Number 3 is greater', num3)

 100
 50
 25

Number1 is maximum 100

In [57]:
l = [1,2,3,4]

In [58]:
max(l)

4

In [ ]:
6. Even or Odd:
o Write a program that takes an integer input and checks if it is even or odd

In [60]:
num = int(input())
if num % 2 == 0:
    print('Even number', num)
elif num % 2 != 0:
    print('Odd number', num)
else:
    print('Wrong input')

 6

Even number 6

In [ ]:
7. Login System:
o Create a simple login system that asks for a username and password and checks if
they match predefined values. Print “Login Successful” if correct, otherwise
“Login Failed.”

In [62]:
username = input('Enter username')
password = input('Enter password')

if username == 'admin' and password == 'helloworld':
    print('Log in Successful')
else:
    print('Login failed')

Enter username admin
Enter password helloworld

Log in Successful

In [ ]:
1. Print Numbers from 1 to 10:
o Write a program using a for loop to print numbers from 1 to 10

In [63]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
Print Each Character in a String:
o Ask the user to enter a word and use a for loop to print each character in the word.
o Example Input: Hello

In [64]:
name = input()
for i in name:
    print(i)

 Hello

H
e
l
l
o

In [ ]:
Print Elements of a List:
o Define a list of fruits (["apple", "banana", "cherry", "date"]) and use a
for loop to print each fruit in the list.

In [65]:
fruits = ["apple", "banana", "cherry", "date"]
for i in fruits:
    print(i)

apple
banana
cherry
date

In [66]:
for i in range(1,11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [67]:
for i in range(1,11):
    if i % 2 != 0:
        print(i)

1
3
5
7
9

In [ ]:
Simple Sum of a List:
o Write a program that calculates the sum of numbers in a list ([1, 2, 3, 4, 5])
using a for loop.
o Expected Output: 15

In [68]:
l = [1, 2, 3, 4, 5]

In [69]:
total = 0
for i in l:
    total = total + i

In [70]:
total

15

In [ ]:
7. Count Down from 5 to 1:
o Use a for loop to print numbers in reverse from 5 to 1.

In [71]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [ ]:
8. Square Each Number in a List:
o Given a list of numbers [1, 2, 3, 4, 5], use a for loop to print the square of
each number.

In [72]:
num = [1, 2, 3, 4, 5]
for i in num:
    print( i * i)

1
4
9
16
25

In [ ]:
Repeat a Word Multiple Times:
o Ask the user for a word and a number N. Use a for loop to print the word N times.
o Example Input: word = "Hi", N = 3

In [73]:
word = input()
N = int(input())
for i in range(N):
    print(word)

 hello
 5

hello
hello
hello
hello
hello

In [ ]:
range(5q)