In [1]:
ls

 Volume in drive C has no label.
 Volume Serial Number is B294-EB73

 Directory of C:\Users\Admin\Downloads\703\Python\file_handling

12/17/2024  06:14 PM    <DIR>          .
12/17/2024  06:14 PM    <DIR>          ..
12/17/2024  06:14 PM    <DIR>          .ipynb_checkpoints
12/16/2024  06:27 PM                21 example.txt
12/16/2024  06:56 PM            17,755 file_handling_1.ipynb
12/17/2024  06:14 PM                72 FILE_HANDLING_2.ipynb
12/16/2024  06:56 PM                68 functions_1.py
12/16/2024  06:37 PM                53 hello_python.txt
12/16/2024  06:12 PM                28 my_file.txt
12/16/2024  06:43 PM                74 sentences.txt
               7 File(s)         18,071 bytes
               3 Dir(s)   8,136,835,072 bytes free

In [2]:
o = open('data analyst life.txt', mode = 'w')

In [3]:
o.write('''Before I got a job, I always wondered what it would be like working as an entry-level data analyst with no prior experience except in projects. If you have ever had the same thought, then this article where I shared my three months of work experience as an entry-level data analyst would interest you.

I got a job as a data analyst four months into my learning journey. I had worked on a project that got a lot of people, recruiters inclusive interested in me, and a couple offered to interview me for a role.

The company I work for reached out as well, requesting to interview me for an open role in their company. The CTO of the company had seen my project and thought I would be a good fit for the role.

Interview process
During the interview, I felt less pressured compared to those I have had in the past simply because they had reached out to me.

The interview process was a very interesting phase as I had up to three conversations leading to the time I received my offer letter.

In the first conversation, we talked about my skills as a data analyst and how I can add value to the company and contribute to a new project currently being worked on.

The second one was a take-home assignment to analyze a project and also give recommendations which I submitted the next day.

The last conversation was generally about what my duties would be in my new role and also my take-home expectation.

Something that stood out for me and made me happy was when, at the end of the call, my recruiter said;

“My takeaway from our conversations in the past couple of days is that you are passionate about storytelling with data and you understand the industry quite well”

After this, my offer letter was sent and I resumed almost immediately.

From the time of the first conversation to the receipt of my offer letter was approximately two weeks.''')

1847

In [4]:
o.read()

UnsupportedOperation: not readable

In [5]:
o.close()

In [6]:
o = open("data analyst life.txt", mode = 'r+')

In [7]:
o.read()

'Before I got a job, I always wondered what it would be like working as an entry-level data analyst with no prior experience except in projects. If you have ever had the same thought, then this article where I shared my three months of work experience as an entry-level data analyst would interest you.\n\nI got a job as a data analyst four months into my learning journey. I had worked on a project that got a lot of people, recruiters inclusive interested in me, and a couple offered to interview me for a role.\n\nThe company I work for reached out as well, requesting to interview me for an open role in their company. The CTO of the company had seen my project and thought I would be a good fit for the role.\n\nInterview process\nDuring the interview, I felt less pressured compared to those I have had in the past simply because they had reached out to me.\n\nThe interview process was a very interesting phase as I had up to three conversations leading to the time I received my offer letter.\n\nIn the first conversation, we talked about my skills as a data analyst and how I can add value to the company and contribute to a new project currently being worked on.\n\nThe second one was a take-home assignment to analyze a project and also give recommendations which I submitted the next day.\n\nThe last conversation was generally about what my duties would be in my new role and also my take-home expectation.\n\nSomething that stood out for me and made me happy was when, at the end of the call, my recruiter said;\n\n“My takeaway from our conversations in the past couple of days is that you are passionate about storytelling with data and you understand the industry quite well”\n\nAfter this, my offer letter was sent and I resumed almost immediately.\n\nFrom the time of the first conversation to the receipt of my offer letter was approximately two weeks.'

In [8]:
o.seek(0)

0

In [9]:
o.readlines()

['Before I got a job, I always wondered what it would be like working as an entry-level data analyst with no prior experience except in projects. If you have ever had the same thought, then this article where I shared my three months of work experience as an entry-level data analyst would interest you.\n',
 '\n',
 'I got a job as a data analyst four months into my learning journey. I had worked on a project that got a lot of people, recruiters inclusive interested in me, and a couple offered to interview me for a role.\n',
 '\n',
 'The company I work for reached out as well, requesting to interview me for an open role in their company. The CTO of the company had seen my project and thought I would be a good fit for the role.\n',
 '\n',
 'Interview process\n',
 'During the interview, I felt less pressured compared to those I have had in the past simply because they had reached out to me.\n',
 '\n',
 'The interview process was a very interesting phase as I had up to three conversations leading to the time I received my offer letter.\n',
 '\n',
 'In the first conversation, we talked about my skills as a data analyst and how I can add value to the company and contribute to a new project currently being worked on.\n',
 '\n',
 'The second one was a take-home assignment to analyze a project and also give recommendations which I submitted the next day.\n',
 '\n',
 'The last conversation was generally about what my duties would be in my new role and also my take-home expectation.\n',
 '\n',
 'Something that stood out for me and made me happy was when, at the end of the call, my recruiter said;\n',
 '\n',
 '“My takeaway from our conversations in the past couple of days is that you are passionate about storytelling with data and you understand the industry quite well”\n',
 '\n',
 'After this, my offer letter was sent and I resumed almost immediately.\n',
 '\n',
 'From the time of the first conversation to the receipt of my offer letter was approximately two weeks.']

In [10]:
o.seek(0)

0

In [11]:
for sentence in o.readline():
    print(sentence)

B
e
f
o
r
e

I

g
o
t

a

j
o
b
,

I

a
l
w
a
y
s

w
o
n
d
e
r
e
d

w
h
a
t

i
t

w
o
u
l
d

b
e

l
i
k
e

w
o
r
k
i
n
g

a
s

a
n

e
n
t
r
y
-
l
e
v
e
l

d
a
t
a

a
n
a
l
y
s
t

w
i
t
h

n
o

p
r
i
o
r

e
x
p
e
r
i
e
n
c
e

e
x
c
e
p
t

i
n

p
r
o
j
e
c
t
s
.

I
f

y
o
u

h
a
v
e

e
v
e
r

h
a
d

t
h
e

s
a
m
e

t
h
o
u
g
h
t
,

t
h
e
n

t
h
i
s

a
r
t
i
c
l
e

w
h
e
r
e

I

s
h
a
r
e
d

m
y

t
h
r
e
e

m
o
n
t
h
s

o
f

w
o
r
k

e
x
p
e
r
i
e
n
c
e

a
s

a
n

e
n
t
r
y
-
l
e
v
e
l

d
a
t
a

a
n
a
l
y
s
t

w
o
u
l
d

i
n
t
e
r
e
s
t

y
o
u
.

In [12]:
o.seek(0)

0

In [13]:
for sentences in o.readlines():
    print(sentences)

Before I got a job, I always wondered what it would be like working as an entry-level data analyst with no prior experience except in projects. If you have ever had the same thought, then this article where I shared my three months of work experience as an entry-level data analyst would interest you.



I got a job as a data analyst four months into my learning journey. I had worked on a project that got a lot of people, recruiters inclusive interested in me, and a couple offered to interview me for a role.



The company I work for reached out as well, requesting to interview me for an open role in their company. The CTO of the company had seen my project and thought I would be a good fit for the role.



Interview process

During the interview, I felt less pressured compared to those I have had in the past simply because they had reached out to me.



The interview process was a very interesting phase as I had up to three conversations leading to the time I received my offer letter.



In the first conversation, we talked about my skills as a data analyst and how I can add value to the company and contribute to a new project currently being worked on.



The second one was a take-home assignment to analyze a project and also give recommendations which I submitted the next day.



The last conversation was generally about what my duties would be in my new role and also my take-home expectation.



Something that stood out for me and made me happy was when, at the end of the call, my recruiter said;



“My takeaway from our conversations in the past couple of days is that you are passionate about storytelling with data and you understand the industry quite well”



After this, my offer letter was sent and I resumed almost immediately.



From the time of the first conversation to the receipt of my offer letter was approximately two weeks.

In [14]:
s1 = """Before I got a job, I always wondered what it would be like working as an entry-level data analyst with no prior experience except in projects. If you have ever had the same thought, then this article where I shared my three months of work experience as an entry-level data analyst would interest you."""

In [15]:
print(s1)

Before I got a job, I always wondered what it would be like working as an entry-level data analyst with no prior experience except in projects. If you have ever had the same thought, then this article where I shared my three months of work experience as an entry-level data analyst would interest you.

In [17]:
words = s1.split(' ')

In [18]:
words

['Before',
 'I',
 'got',
 'a',
 'job,',
 'I',
 'always',
 'wondered',
 'what',
 'it',
 'would',
 'be',
 'like',
 'working',
 'as',
 'an',
 'entry-level',
 'data',
 'analyst',
 'with',
 'no',
 'prior',
 'experience',
 'except',
 'in',
 'projects.',
 'If',
 'you',
 'have',
 'ever',
 'had',
 'the',
 'same',
 'thought,',
 'then',
 'this',
 'article',
 'where',
 'I',
 'shared',
 'my',
 'three',
 'months',
 'of',
 'work',
 'experience',
 'as',
 'an',
 'entry-level',
 'data',
 'analyst',
 'would',
 'interest',
 'you.']

In [21]:
s1.count('you')

2

In [22]:
o.seek(0)

0

In [23]:
o.readline()

'Before I got a job, I always wondered what it would be like working as an entry-level data analyst with no prior experience except in projects. If you have ever had the same thought, then this article where I shared my three months of work experience as an entry-level data analyst would interest you.\n'

In [33]:
o.seek(0)

0

In [34]:
l = []
for i in o.readline():
    l.append(i)

In [35]:
l

['B',
 'e',
 'f',
 'o',
 'r',
 'e',
 ' ',
 'I',
 ' ',
 'g',
 'o',
 't',
 ' ',
 'a',
 ' ',
 'j',
 'o',
 'b',
 ',',
 ' ',
 'I',
 ' ',
 'a',
 'l',
 'w',
 'a',
 'y',
 's',
 ' ',
 'w',
 'o',
 'n',
 'd',
 'e',
 'r',
 'e',
 'd',
 ' ',
 'w',
 'h',
 'a',
 't',
 ' ',
 'i',
 't',
 ' ',
 'w',
 'o',
 'u',
 'l',
 'd',
 ' ',
 'b',
 'e',
 ' ',
 'l',
 'i',
 'k',
 'e',
 ' ',
 'w',
 'o',
 'r',
 'k',
 'i',
 'n',
 'g',
 ' ',
 'a',
 's',
 ' ',
 'a',
 'n',
 ' ',
 'e',
 'n',
 't',
 'r',
 'y',
 '-',
 'l',
 'e',
 'v',
 'e',
 'l',
 ' ',
 'd',
 'a',
 't',
 'a',
 ' ',
 'a',
 'n',
 'a',
 'l',
 'y',
 's',
 't',
 ' ',
 'w',
 'i',
 't',
 'h',
 ' ',
 'n',
 'o',
 ' ',
 'p',
 'r',
 'i',
 'o',
 'r',
 ' ',
 'e',
 'x',
 'p',
 'e',
 'r',
 'i',
 'e',
 'n',
 'c',
 'e',
 ' ',
 'e',
 'x',
 'c',
 'e',
 'p',
 't',
 ' ',
 'i',
 'n',
 ' ',
 'p',
 'r',
 'o',
 'j',
 'e',
 'c',
 't',
 's',
 '.',
 ' ',
 'I',
 'f',
 ' ',
 'y',
 'o',
 'u',
 ' ',
 'h',
 'a',
 'v',
 'e',
 ' ',
 'e',
 'v',
 'e',
 'r',
 ' ',
 'h',
 'a',
 'd',
 ' ',
 't',
 'h',
 'e',
 ' ',
 's',
 'a',
 'm',
 'e',
 ' ',
 't',
 'h',
 'o',
 'u',
 'g',
 'h',
 't',
 ',',
 ' ',
 't',
 'h',
 'e',
 'n',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 'a',
 'r',
 't',
 'i',
 'c',
 'l',
 'e',
 ' ',
 'w',
 'h',
 'e',
 'r',
 'e',
 ' ',
 'I',
 ' ',
 's',
 'h',
 'a',
 'r',
 'e',
 'd',
 ' ',
 'm',
 'y',
 ' ',
 't',
 'h',
 'r',
 'e',
 'e',
 ' ',
 'm',
 'o',
 'n',
 't',
 'h',
 's',
 ' ',
 'o',
 'f',
 ' ',
 'w',
 'o',
 'r',
 'k',
 ' ',
 'e',
 'x',
 'p',
 'e',
 'r',
 'i',
 'e',
 'n',
 'c',
 'e',
 ' ',
 'a',
 's',
 ' ',
 'a',
 'n',
 ' ',
 'e',
 'n',
 't',
 'r',
 'y',
 '-',
 'l',
 'e',
 'v',
 'e',
 'l',
 ' ',
 'd',
 'a',
 't',
 'a',
 ' ',
 'a',
 'n',
 'a',
 'l',
 'y',
 's',
 't',
 ' ',
 'w',
 'o',
 'u',
 'l',
 'd',
 ' ',
 'i',
 'n',
 't',
 'e',
 'r',
 'e',
 's',
 't',
 ' ',
 'y',
 'o',
 'u',
 '.',
 '\n']

In [36]:
l.count('i')

11

In [40]:
o.seek(0)

0

In [41]:
l2 = []
for i in o.readlines():
    l2.append(i)

In [42]:
l2

['Before I got a job, I always wondered what it would be like working as an entry-level data analyst with no prior experience except in projects. If you have ever had the same thought, then this article where I shared my three months of work experience as an entry-level data analyst would interest you.\n',
 '\n',
 'I got a job as a data analyst four months into my learning journey. I had worked on a project that got a lot of people, recruiters inclusive interested in me, and a couple offered to interview me for a role.\n',
 '\n',
 'The company I work for reached out as well, requesting to interview me for an open role in their company. The CTO of the company had seen my project and thought I would be a good fit for the role.\n',
 '\n',
 'Interview process\n',
 'During the interview, I felt less pressured compared to those I have had in the past simply because they had reached out to me.\n',
 '\n',
 'The interview process was a very interesting phase as I had up to three conversations leading to the time I received my offer letter.\n',
 '\n',
 'In the first conversation, we talked about my skills as a data analyst and how I can add value to the company and contribute to a new project currently being worked on.\n',
 '\n',
 'The second one was a take-home assignment to analyze a project and also give recommendations which I submitted the next day.\n',
 '\n',
 'The last conversation was generally about what my duties would be in my new role and also my take-home expectation.\n',
 '\n',
 'Something that stood out for me and made me happy was when, at the end of the call, my recruiter said;\n',
 '\n',
 '“My takeaway from our conversations in the past couple of days is that you are passionate about storytelling with data and you understand the industry quite well”\n',
 '\n',
 'After this, my offer letter was sent and I resumed almost immediately.\n',
 '\n',
 'From the time of the first conversation to the receipt of my offer letter was approximately two weeks.']

In [43]:
for i in l2:
    print(i)

Before I got a job, I always wondered what it would be like working as an entry-level data analyst with no prior experience except in projects. If you have ever had the same thought, then this article where I shared my three months of work experience as an entry-level data analyst would interest you.



I got a job as a data analyst four months into my learning journey. I had worked on a project that got a lot of people, recruiters inclusive interested in me, and a couple offered to interview me for a role.



The company I work for reached out as well, requesting to interview me for an open role in their company. The CTO of the company had seen my project and thought I would be a good fit for the role.



Interview process

During the interview, I felt less pressured compared to those I have had in the past simply because they had reached out to me.



The interview process was a very interesting phase as I had up to three conversations leading to the time I received my offer letter.



In the first conversation, we talked about my skills as a data analyst and how I can add value to the company and contribute to a new project currently being worked on.



The second one was a take-home assignment to analyze a project and also give recommendations which I submitted the next day.



The last conversation was generally about what my duties would be in my new role and also my take-home expectation.



Something that stood out for me and made me happy was when, at the end of the call, my recruiter said;



“My takeaway from our conversations in the past couple of days is that you are passionate about storytelling with data and you understand the industry quite well”



After this, my offer letter was sent and I resumed almost immediately.



From the time of the first conversation to the receipt of my offer letter was approximately two weeks.

In [44]:
import numpy as np

In [45]:
d = [94,53,65,60,45]

In [46]:
np.mean([94,53,65,60,45])

63.4

In [47]:
def test():
    return 'Hello'

In [48]:
test()

'Hello'